node_modules
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.DS_Store
coverage/
**/clover.xml
**/coverage-final.json
**/lcov.info
**/lcov-report/
.nvmrc
.playwright_mongo_uri
k6-results/output.json
